body {
  padding: 100px 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    padding: 40px 0;
    font-size: 60px;
}

P{
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.big{
  font-size: 80px;
}

h3{
  font-size: 30px;
  text-align: center;
  padding: 20px 0;
}